// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow:hidden;
}

body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow:scroll;
  overflow-x:hidden;
  background-image: image-url("cork_texture.jpg");
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 6px 8px rgba(0,0,0,.25);
}

li{
  float:left;
  font-family: "Arial";

  a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover{
    background-color:red;
  }
}

.info{
  word-break: break-all;
}

.student{
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  color: black;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Waiting for the Sunrise', cursive;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  float: left;
  position: relative;
  transition: opacity 0.3s;
}

.student:hover .link{
  visibility: visible;
  opacity: 1.0;
}

.student .link{
  transition: opacity 0.3s;
  opacity: 0.0;
}


.link{
  visibility: hidden;
  opacity: 0.0;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  font-size: 20px;
  position:absolute;
  width: 100%;
  bottom:0;
  left: 0;
  word-spacing: 10px;
  //gets rid of underline on links
  a{text-decoration: none;}
  a:hover{text-decoration: underline}
}

.field{
  width: 100%;
  margin-bottom: 15px;
  font-family: "Arial";
  text-align: center;
  line-height: 20px;
  display: inline-block;
}

.action{
  text-align: center;
}

.pageTitle{
  text-align: center;
}

#notice{
  text-align: center;
  color: green;
  margin: 14px;
  font-family: "Arial";
}

#alert{
  text-align: center;
  color: red;
  margin: 14px;
  font-family: "Arial";
}
