// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

body{
  margin:0;
  padding:60px 0px 0px 0px;
  height:100%;
  width:100%;
  background-image: image-url("cork_texture.jpg");
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 6px 8px rgba(0,0,0,.25);
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 9999;
}

li{
  float:left;
  font-family: "Arial";

  a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover{
    background-color:red;
  }
}

.info{
  word-break: break-all;
}
.pin {
  background-color: #aaa;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 2;
  margin-bottom: 35px;
}
.pin:after {
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: rotate(57.5deg);
  transform-origin: 50% 100%;
}
.student{
  margin: 15px 10px 10px 10px;
  padding-top: 35px;
  color: black;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  font-size: 21px;
  font-family: 'Waiting for the Sunrise', cursive;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  transition: all 0.3s ease-in-out;
  column-break-inside:avoid;
  position: relative;
}
#showStudent{
  margin: 15px 10px 10px 10px;
  padding: 0px 0px 0px 0px;
  color: black;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Waiting for the Sunrise', cursive;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  transition: all 0.3s ease-in-out;
  width: 420px;
  height: 300px;
}
.student:nth-of-type(n){
  transform: rotate(-2deg);
  position: relative;
}
.student:nth-of-type(2n){
  transform: rotate(3deg);
  position: relative;
}
.student:nth-of-type(2n+1){
  transform: rotate(1.5deg);
  position: relative;
}
.student:nth-of-type(3n){
  transform: rotate(-3deg);
  position: relative;

}
.student:nth-of-type(3n+1){
  transform: rotate(-1.5deg);
  position: relative;

}
.student:nth-child(n) .pin:after{
  background-color: #FF0000; // red pin
}
.student:nth-child(2n) .pin:after{
  background-color: #1414FF; // blue pin
}
.student:nth-child(3n) .pin:after{
  background-color: #00FF00; // green pin
}
.student:hover{
  box-shadow: 0 6px 12px rgba(0,0,0,.75);
  transform: scale(1.1);
  transition: scale 0.3 ease-in-out, box-shadow 0.3s ease-in-out;
}
.student:hover .link{
  visibility: visible;
  opacity: 1.0;
}
.student .link{
  transition: all 0.3s ease-in-out;
  opacity: 0.0;
}

.link{
  visibility: hidden;
  opacity: 0.0;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 16px;
  position:absolute;
  width: 100%;
  bottom:0;
  left: 0;
  word-spacing: 10px;
  //gets rid of underline on links
  a{text-decoration: none;}
  a:hover{text-decoration: underline}
}

.field{
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: bold;

  input{
    background-color:transparent;
    border:none;
    border-bottom: solid 1px black;
    margin-bottom:15px;
    margin-top:0px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 20px;
    text-align: center;
  }

  input:focus{
    outline:none;
  }

  // turn off spinner selectors
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
}

.action{
  text-align: center;

  input{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 23px;
    padding: 14px 40px 14px 40px;
    text-decoration: none;
    border: 3px solid #000000;
    border-radius: 11px;
    box-shadow: 0 6px #27496d;
  }

  input:hover{
    text-decoration: none;
    cursor: pointer;
  }
  input:focus{
    outline:none;
  }
  input:active{
    cursor: pointer;
    // box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
    box-shadow: 0 3px #27496d;
    transform: translateY(3px);
  }
}

.pageTitle{
  text-align: center;
  font-family: 'Waiting for the Sunrise', cursive;
}

.formPageWrapper{
  width: 960px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.formPageBG{
  width:50%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ADD8E6;
  box-shadow: 0 10px 15px rgba(0,0,0,.25);
}

.viewWrapper{
  margin:auto;
  width:100%;
  position:absolute;
  text-align:center;
}

#notes{
  column-count: 5;
  column-gap: 10px;
  column-width: 460px;
  column-fill: auto;
  overflow: visible;
  margin-top: 10px;
}

@media (max-width: 1840px){
  #notes{
    column-count: 4 460px;
  }
}
@media (max-width: 1380px){
  #notes{
    column-count: 3 460px;
  }
}
@media (max-width: 920px){
  #notes{
    column-count: 2 460px;
  }
}
@media (max-width: 460px){
  #notes{
    column-count: 1 460px;
  }
}

#notice{
  text-align: center;
  color: green;
  margin: 14px;
  font-family: "Arial";
}

#alert{
  text-align: center;
  color: red;
  margin: 14px;
  font-family: "Arial";
}

#colorLabel.input{
  margin-left: 8px;
  margin-right: 0px;
}
